.todo-header
      h3 {{ projectName }}
      ul.hidden
        li
          a.todo-action-edit(href='#', title='Edit') Edit
        li
          a.todo-action-remove(href='#', title='Delete') Delete
      input(name='', type='text')