tr
    td.todo-list-checkbox
      input(type='checkbox')
    td.todo-list-divider
    td.todo-list-task
      p Open this mock-up in Adobe Fireworks
    td.todo-list-actions
      ul.hidden
        li
          a.todo-list-task-sort(href='#') Sort
        li
          a.todo-list-task-edit(href='#') Edit
        li
          a.todo-list-task-delete(href='#') Delete